@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-2">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/icons/appliances.svg" alt="logo" width="32" class="me-2" />
            <strong>SkillBuddy</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <form class="d-flex ms-auto my-2 my-lg-0 me-lg-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search services, e.g. AC" aria-label="Search" />
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/counter">Counter</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/weather">Weather</NavLink>
                </li>
            </ul>

            <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                <button class="btn btn-outline-primary ms-lg-3 mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
                <a class="btn btn-primary ms-lg-2 mt-2 mt-lg-0" href="/book">Book Now</a>
            </div>
        </div>
    </div>
</nav>

